/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/metagwas test config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile flags_test
 */


docker.enabled = true

params  {
    studies = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/metagwas/list-summary-statistics.csv"
    genomiccontrol = "ON"
    verbose = "ON"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

