/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/metagwas test config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_mama
 */


docker.enabled = true

params  {
    mama = true
    ancestry_sample_file = "https://metagwas-data.s3-eu-west-1.amazonaws.com/mama/test/iid_ances_file"
    snp_ancestry_file = "https://metagwas-data.s3-eu-west-1.amazonaws.com/mama/test/snp_ances_file"
    merged_ref_panel = "s3://metagwas-data/mama/test/chr22_mind02_geno02_maf01_EAS_EUR{.bed,.bim,.fam}"
    ss_1 = "https://metagwas-data.s3-eu-west-1.amazonaws.com/mama/test/EAS_BMI.txt.gz"
    ss_2 = "https://metagwas-data.s3-eu-west-1.amazonaws.com/mama/test/EUR_BMI.txt.gz"
    ss_1_ancestry = "EAS"
    ss_2_ancestry = "EUR"
    ss_1_trait = "BMI"
    ss_2_trait = "BMI"
    metal = false

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

